/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(3, 0, 31);
    overflow: hidden;
}
h1{
    font-family: 'Star Wars', sans-serif;
    color: #a74d42;
    text-align: center;
    padding: 40px;
    font-size: 50px;
    user-select: none;
}

/* slider di immagini */
#image-tracker{
    display: flex;
    gap: 4vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0 , -50%);
    user-select: none;
}
#image-tracker > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}